*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.section{
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    max-height: 1000px;
    flex-direction: column;
    padding: 10px;
}
.margin10{
    margin: 10px;
}
.bg-red{
    background: red;
}
.bg-purple{
    background: purple;
}
.bg-blue{
    background: blue;
}
.bg-green{
    background: green;
}
.bg-yellow{
    background: yellow;
}
.d-flex{
    display: flex;
}
.flex-grow{
    flex-grow: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}
.col-50{
    width: 50%;
    flex-basis: 50%;
    max-width: 50%;
}
.col-25{
    width: 25%;
    flex-basis: 25%;
    max-width: 25%;
}
.min-width70{
    min-width: 70%;
}
.col-100{
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
@media screen and (max-width: 900px){
    .row{
        flex-wrap: wrap;
    }
    .col-50{
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-25{
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

}